#cloud-config
ssh_authorized_keys:
  - "${ssh_public_key}"

users:
  - name: "${ssh_username}"
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

package_update: true
package_upgrade: true

packages:
  - docker.io
  - curl
  - open-vm-tools

runcmd:
  - systemctl enable --now docker
  - systemctl enable --now open-vm-tools
  - usermod -aG docker ${ssh_username}

%{ if additional_userdata != "" ~}
${additional_userdata}
%{ endif ~}
